*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height:100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    padding: 150px;
}
#logo{
    width: 30vw;
}
h1{
    color: white;
}
#name{
    color: yellowgreen;
    font-size: 40px;
}
#va{
    color: violet;
    font-size: 40px;
}
#voice{
    width: 150px;
    display: none;

}
#btn{
    width: 30%;
    background: linear-gradient(to right,red,blue);
    padding: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 2px 10px rgb(96, 3, 3), 2px 2px 10px rgba(35, 142, 40, 0.132);
    border: none;
    transition: all 1s;
    cursor: pointer;


}

#btn:hover{
    box-shadow: 2px 2px 20px rgb(96, 3, 3), 2px 2px 20px rgba(35, 142, 40, 0.132);
    letter-spacing: 2px;
    
}